:root {
  --primary: #6200ee;
  --primaryDark: #4a03af;
  --primary90Transparent: #6300ee38;
  --color1: #A59826;
  --color2: #EBEA2D;

  --bg_app-logo: 15px 50% / 30px 30px no-repeat url(/app-resources/resources/images/charging.png); /*app logo*/
  --spacing_app-logo_width: 45px;
  --color_border_app-header-divider: var(--primaryDark); /*line color after header*/

  --color_bg_workflow_current: var(--primaryDark); /*bg color when step is selected*/
  --color_workflow_active: var(--primaryDark); /*font and icon color when step is active*/
  --color_workflow-icon-border: var(--primaryDark);

  --color_bg_app-canvas: url(/app-resources/resources/images/RightBackground.png) rgb(249, 249, 249) no-repeat left/contain; /*background color*/
  --color_bg_widget-header: var(--primaryDark); /*widget header background color*/
  --border_widget-header: 2px solid var(--primary); /*line color after widget header*/
  --color_text_widget-header: white;

  --color_text_edit-select-link: var(--primaryDark);

  --color_bg_button_primary: var(--primaryDark);
  --color_bg_button_primary_hover: var(--primary);
}
